body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

canvas {
    border: 1px solid black;
}

div {
    margin-top: 10px;
} 